rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isPsychologist() {
      return request.auth != null && request.auth.token.role == 'PSYCHOLOGIST';
    }

    match /testsLibrary/{testId} {
      allow read: if isPsychologist();
    }

    match /patients/{patientId}/assessments/{assessmentId} {
      allow create, read, update: if isPsychologist();
      allow update: if request.auth == null &&
                    request.time < (resource.data.createdAt + duration.value(7, 'd')) &&
                    request.resource.data.linkToken == resource.data.linkToken;
    }

    match /tasks/{taskId} {
      allow read, write: if isPsychologist();
    }

    match /formulations/{id} {
      allow read, write: if isPsychologist();
    }

    match /users/{userId} {
      allow read, write: if isPsychologist();
    }
  }
}
